<h2>{{localize "PF1.CreateItemForSpell"}}</h2>

<div>
  {{!-- Spell Level --}}
  <div class="form-group">
    <label>{{localize "PF1.SpellLevel"}}</label>
    <input type="text" name="sl" value="{{sl}}" placeholder="1" />
  </div>

  {{!-- Caster Level --}}
  <div class="form-group">
    <label>{{localize "PF1.CasterLevel"}}</label>
    <input type="text" name="cl" value="{{cl}}" placeholder="1" />
  </div>
</div>
