<header class="card-header flexrow">
  <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
  {{#if name}}<h3 class="item-name">{{name}}</h3>{{/if}}
</header>

<div class="card-content">
  {{enrich description rollData=@root.rollData}}
</div>

{{#if range}}
<div class="card-range" data-range="{{range}}" {{#if rangeFormula}}title="{{rangeFormula}}"{{/if}}>
  {{localize "PF1.Range"}}: {{rangeLabel}}
</div>
{{/if}}
